{% extends 'base.html.twig' %}

{% block body %}




{{ ad.title }} {{ ad.createdAt | date('d/m/Y') }} à {{ ad.createdAt | date('H:i') }}
<img src="{{ ad.image }}" alt="Photo annonce">
<div>{{ ad.content }}</div>

{% endblock %}