{% extends 'base.html.twig' %}

{% block body %}

{% for ad in advertisements %}

<p>
{{ ad.title }}
{{ ad.content }}
{{ ad.image }}
{{ ad.createdAt | date('d/m/Y') }} à {{ ad.createdAt | date('H:i') }}
</p>



{% endfor %}

{% endblock %}