{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        {{ form_start(adForm) }}
        {{ form_row(adForm.title) }}
        {{ form_row(adForm.content) }}
		{{ form_row(adForm.region) }}
        {{ form_row(adForm.city) }}
        {{ form_row(adForm.imageFile) }} {# Use 'imageFile' instead of 'image' #}
        {{ form_row(adForm.price) }}

        <button type="submit">Publier</button>
        {{ form_end(adForm) }}
    </div>

{% endblock %}
