{% extends 'base.html.twig' %}

{% block body %}

	<div class="content">
		{{ form_start(adForm) }}
		{{ form_row(adForm.title) }}
		{{ form_row(adForm.content) }}
		{{ form_row(adForm.city) }}
		{{ form_row(adForm.image) }}
		{{ form_row(adForm.price) }}

		<button type="submit">Publier</button>
	</div>
	{{ form_end(adForm) }}

{% endblock %}
