{% extends 'base.html.twig' %}

{% block body %}

	<div class="content">
	{# Render the form for editing the advertisement #}
		{{ form_start(adForm) }}
		{{ form_row(adForm.title) }}
		{{ form_row(adForm.content) }}
		{{ form_row(adForm.city) }}
		{{ form_row(adForm.image) }}
		{{ form_row(adForm.price) }}
	<button type="submit">Mettre à jour</button>
	{{ form_end(adForm) }}
</div>

{% endblock %}
