{% extends 'base.html.twig' %}

{% block body %}

	{% for ad in ads %}

		<a href="{{ path('ad_show' , {'id':ad.id}) }}" class="card">
			<div class="content">
				{{ ad.title }}
				{{ ad.createdAt | date('d/m/Y') }}
				à
				{{ ad.createdAt | date('H:i') }}
				<img src="{{ ad.image }}" alt="Photo annonce">
				<div>{{ ad.content }}</div>
			</div>
		</a>

	{% endfor %}

{% endblock %}
