{% extends 'base.html.twig' %}

{% block body %}

	{% for ad in ads %}
		<a href="{{ path('ad_show' , {'id':ad.id}) }}" class="card">
			{{ ad.title }}
			>{{ ad.price }}€
			<img class="photo" src="{{ ad.image }}" alt="Photo annonce">
			{{ ad.city }}
		</a>

	{% endfor %}

{% endblock %}
